<head>
  <title>Förster Digital Business GmbH</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="preconnect" href="https://fonts.googleapis.com"> 
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
  <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;500;600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@300;500&family=Lora:wght@600&display=swap" rel="stylesheet">
  <link href="/fonts/fontawesome-free-6.0.0-web/css/all.min.css" rel="stylesheet">

  <link rel="stylesheet" href="/css/main.css">
  <script src="https://cdn.tailwindcss.com"></script>

  <style>
    #menu-toggle:checked + #menu {
      display: block;
    }
  </style>
</head>
